body {
  background: url(images/wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
  height: 100%;
}

#root {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  max-width: 1200px;
  min-width: 400px;
  min-height: 100%;
}

.spinner {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}

.icon-row {
  height: 40px;
}

/*
 * Login page 
*/
.logo {
  width: 400px;
}

.preview-image:hover {
  opacity: 0.75;
}

@media only screen and (max-width: 600px) {
  .login-strip {
    display: none;
  }
}

/*
 * Buttons
 */
.button-classic {
  width: 100px;
  height: 40px;
}

.button-small {
  width: 80px;
}

.button-large {
  width: 140px;
  height: 40px;
}

.action-link {
  color: var(--secondary);
}

/*
 * Carousel - tutorial
 */
.tutorial.carousel {
  background-color: var(--dark);
  border-radius: 16px 16px 16px 16px;
  overflow: hidden;
}

.preview.carousel .carousel-indicators li {
  background-color: var(--secondary);
}

.preview.carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%6c757d' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.preview.carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%6c757d' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

@media only screen and (max-width: 600px) {
  .tutorial .carousel-item {
    height: 550px;
    text-align: center;
    bottom: auto;
    position: unset;
  }

  .preview .carousel-item {
    height: 230px;
    text-align: center;
    bottom: auto;
    position: unset;
  }
}

@media only screen and (min-width: 601px) {
  .tutorial .carousel-item {
    height: 550px;
    text-align: center;
    bottom: auto;
    position: unset;
  }

  .preview .carousel-item {
    height: 410px;
    text-align: center;
    bottom: auto;
    position: unset;
  }
}

/*
* Tooltips
*/
.tooltip-multiline {
  max-width: 300px;
  word-break: keep-all;
  overflow-wrap: break-word;
  display: block;
}

/*
* Misc
*/
.centered {
  text-align: center;
}

.right-align {
  text-align: right;
}

.image-faded {
  opacity: 0.5;
} 

.inline {
  display: flex;
  flex-direction: row;
}

.corner-align {
  position: absolute;
  top: 5px;
  left: 10px;
}

/*
* Footer
*/
.footer {
  position: relative;
  height: 100%;
  bottom: 20px;
}

.footer-content {
  position: absolute;
  right: 20px;
}
